/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Header Styles */
  header {
    background-color: #232323;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container #maze-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 650px;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    list-style: none;
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #ff5757;
  }
  
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 6rem;
    margin: 0;
    text-shadow: 2px 2px #ff5757;
    text-align: center;
  }
  
  .play-now-button {
    background-color: #ff5757;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.5rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .play-now-button:hover {
    background-color: #e64949;
    cursor: pointer;
  }
  
  /* About Section Styles */
  .about {
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about h2 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #232323;
    text-shadow: 2px 2px #f5f5f5;
  }
  
  .about p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
  }

  #play-now {
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  #play-now p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
  }
  
  /* Contact Section Styles */
  .contact {
    background-color: #232323;
    color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact h2 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px #ff5757;
  }
  
  .contact p {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  
  .contact a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .contact a:hover {
    color: #ff5757;
  }

.title-container .hero-image p {
  font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}
  
main {
  max-width: 700px;
  margin: auto;

}